rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /s90d/defectImages/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.resource.size < 32 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /attendance/images/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.resource.size < 32 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
